@font-face {
  font-family: PoiretOne;
  src: url(../../../assets/fonts/PoiretOne-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Monterat;
  src: url(../../../assets/fonts/MontserratAlternates-ExtraBold.ttf);
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  scroll-behavior: smooth;
  cursor: default;
  font-family: Monterat;
}

.header {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 50px;
  color: #fff;
}
.header__button a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 5px;
}

.main {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  background-color: black;
  height: 100vh;
}
.main__content {
  width: -webkit-fill-available;
}
.main__block {
  border-radius: 10px;
  width: 100%;
  height: 600px;
}
.main__OurPluses {
  padding: 10px 10px 10px 10px;
  gap: 30px;
}
.main__uslugi {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.main__uslugi p {
  font-size: 20px;
  margin-bottom: 30px;
}
.main__uslugi h2 {
  font-size: 50px;
  margin-bottom: 50px;
}
.main__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__card {
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(92, 92, 92, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 200px;
  color: #fff;
}
.main__card-img img {
  width: 30px;
  height: 30px;
}
.main__card-text {
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main__card-text h3 {
  margin-bottom: 40px;
}
.main__card-text p {
  font-family: PoiretOne;
}
.main__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-size: 30px;
}
.main__button a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 5px;
}